.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto 20px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5px;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f055";
    font-family: "FontAwesome";
    color: var(--primary-color);
    position: absolute;
    top: 2px;
    font-size: 20px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 10px;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Driver view style */

.info-profile-image-div {
    display: flex;
    justify-content: center;
}

.info-profile-image {
    width: 100%;
    border-radius: 5px;
    max-height: 240px;
    max-width: 240px;
}

.info-profile-image-re-upload {
    width: 100%;
    border-radius: 5px;
    max-height: 150px;
    max-width: 150px;
}

.info-title {
    margin: 10px 0;
    color: var(--primary-color);
}

.info-content {
    color: var(--text-color);
    margin: 6px 0;
    font-size: .9rem;
}

.info-heading {
    margin: 6px 0;
}

.info-content {
    color: var(--text-color);
    margin: 0 0 10px 0;
    font-size: .9rem;
}

.p-r-0 {
    padding-right: 0;
}

.m-b-10 {
    margin-bottom: 10px;
}

.h-100 {
    height: 100%;
}

.document-view i {
    font-size: 3rem;
}

.d-v-1 {
    color: #6078ea;
}

.d-v-2 {
    color: #00b09b;
}

.d-v-3 {
    color: #f54ea2;
}



.reupload-file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.reupload-file-input__label {
    cursor: pointer;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 14px;
    padding: 10px 12px;
    /* background-color: #4245a8; */
    border: 2px dashed var(--primary-color);
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
    transition: background .2s ease-in-out;
}

.reupload-file-input__label:hover {
    background: var(--group-background);
}

.reupload-file-input__label svg {
    height: 16px;
    margin-right: 4px;
}
.btn-td {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-td span {
    background-color: var(--primary-color);
    padding: 1px 7px;
    border-radius: 3px;
    color: white;
    text-transform: capitalize;
}
.expired {
    background-color: #FF0000 !important;
}
.expires {
    background-color: #FFA500 !important;
}

.active {
    background-color: #008000 !important;
}
/*Table style*/

/* Progress loader */
.progress-loader {
    z-index: 10001;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-width: 300px;
    min-height: 200px;
}
.progress-text {
    font-weight: 500;
    color: gray;
    animation: progress-text 4s infinite ease-in-out;
    -webkit-animation: progress-text 3s infinite ease-in-out;
}

@keyframes progress-text {
    0% {
        color: gray;
    }
    50% {
        color: black;
    }
    100% {
        color: gray;
    }
}

@-webkit-keyframes progress-text {
    0% {
        color: #00b09b;
    }
    33% {
        color: #f54ea2;
    }
    66% {
        color: black;
    }
    100% {
        color: #00b09b;
    }
}
