@import url(./style.css);

/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: var(--first-shadow);
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: 5px;
    right: 6px;
    color: black;
}

.first-color {
    color: var(--primary-color);
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.sidebar header .image img {
    width: 45px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.menu-links {
    padding: 0;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

@media only screen and (min-width: 426px) {
    .home {
        position: absolute;
        top: 0;
        top: 0;
        left: 250px;
        height: 100vh;
        width: calc(100% - 250px);
        background-color: var(--body-color);
        transition: var(--tran-05);
        padding: 0 15px 15px 15px;
    }
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}


/* Mobile Navber Style */

/* .mobile-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    background-color: var(--nav-bg-color);
    height: 45px;
    align-items: center;
}



.mob-header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: var(--primary-color);
    font-size: 1.2rem;
} */


/* Mobile Navbar style */

.mobile-nav {
    display: none;
    .nav .nav-bar {
        display: flex;
        flex-flow: row;
        /* position: relative; */
        z-index: 1000;
        padding: 5px;
        position: fixed;
        width: 100vw;
        background-color: #ff9900;
    }

    .nav .logo {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        font-weight: 600;
        padding-left: 5vw;
    }

    .nav .nav-btn {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        flex: 0;
        padding: 5px;
    }

    .nav .nav-btn .btn-bar {
        position: relative;
        width: 1.1em;
        height: 3px;
        border-radius: 5px;
        background: #444;
        margin: 2px;
    }

    .nav .nav-btn .btn-bar.menu:not(:first-child) {
        margin-top: 3px;
    }

    .nav .nav-btn .btn-bar.close {
        transform-origin: center center;
        position: absolute;
        margin-top: -1.5px;
        opacity: 0;
        top: 50%;
    }

    .nav .nav-content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .nav-list {
        padding-top: 55px;
        font-size: 15px;
        font-weight: 500;
        white-space: nowrap;
    }

    .nav-list a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 15px;
        color: black;
        padding: 15px;
        padding-left: 10vw;
    }
    .nav-list a:hover{
        color: var(--primary-color);
        background-color: white;
    }
    .nav-text {

    }

    .nav .nav-content .background {
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        top: 0;
        left: 0;
        right: 0;
        bottom: -2px;
    }

    .nav .nav-content .portion {
        background: #ff9900;
    }

    .nav .nav-content .portion:not(:first-child) {
        margin-top: -1px;
    }

    .nav.open .nav-bar .nav-btn .btn-bar.menu {
        opacity: 0;
    }

    .nav.open .nav-bar .nav-btn .btn-bar.close {
        opacity: 1;
    }

    .wrapper:nth-child(1) .app .nav .btn-bar.menu:nth-child(even) {
        width: 1.7em;
    }

    .wrapper:nth-child(1) .app .nav .btn-bar.close:not(:last-child) {
        transform: rotate(45deg) translateX(-250%);
    }

    .wrapper:nth-child(1) .app .nav .btn-bar.close:last-child {
        transform: rotate(-45deg) translateX(250%);
    }

    .wrapper:nth-child(1) .app .nav .nav-content .background .portion {
        flex: 1 1 100%;
    }

    .wrapper:nth-child(1) .app .nav .nav-content .background .portion:nth-child(odd) {
        transform: translateX(-100%);
    }

    .wrapper:nth-child(1) .app .nav .nav-content .background .portion:nth-child(even) {
        transform: translateX(100%);
    }

    .wrapper:nth-child(1) .app .nav.open .nav-btn .btn-bar.menu:nth-child(odd) {
        transform: translateX(-400%);
    }

    .wrapper:nth-child(1) .app .nav.open .nav-btn .btn-bar.menu:nth-child(even) {
        transform: translateX(200%);
    }

    .wrapper:nth-child(1) .app .nav.open .nav-btn .btn-bar.close:not(:last-child) {
        transform: rotate(45deg);
    }

    .wrapper:nth-child(1) .app .nav.open .nav-btn .btn-bar.close:last-child {
        transform: rotate(-45deg);
    }

    .wrapper:nth-child(1) .app .nav.open .nav-content {
        z-index: 1;
    }

    .wrapper:nth-child(1) .app .nav.open .nav-content .background .portion {
        transform: translateX(0%);
    }

    .wrapper:nth-child(1) .app .nav.open .btn-bar.menu {
        transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out 0.15s;
    }

    .wrapper:nth-child(1) .app .nav.open .btn-bar.close {
        transition: transform 0.2s ease-in-out 0.3s, opacity 0.05s ease-in-out 0.3s;
    }

    .wrapper:nth-child(1) .app .nav.open .nav-content {
        transition: z-index 0.01s ease-in-out 0.3s;
    }

    .wrapper:nth-child(1) .app .nav.open .nav-content .background .portion {
        transition: transform 0.2s ease-in-out 0.3s;
    }

    .wrapper:nth-child(1) .app .nav .btn-bar.menu {
        transition: transform 0.3s ease-in-out 0.2s, opacity 0.15s ease-in-out 0.2s;
    }

    .wrapper:nth-child(1) .app .nav .btn-bar.close {
        transition: transform 0.2s ease-in-out, opacity 0.05s ease-in-out 0.2s;
    }

    .wrapper:nth-child(1) .app .nav .nav-content {
        transition: z-index 0.01s ease-in-out 0.2s;
    }

    .wrapper:nth-child(1) .app .nav .nav-content .background .portion {
        transition: transform 0.2s ease-in-out;
    }

    .wrapper:nth-child(2) .app .nav .nav-btn {
        align-items: flex-end;
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.menu:nth-child(1) {
        transform-origin: top right;
        transform: rotate(-45deg);
        width: 1.8em;
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.menu:nth-child(2) {
        transform: rotate(-45deg) translate(0, -4px);
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.menu:nth-child(3) {
        transform: rotate(-45deg) translate(0, 1px);
        width: 0.8em;
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.close:not(:last-child) {
        transform: rotate(45deg) translateX(-250%);
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.close:last-child {
        transform: rotate(-45deg) translateX(250%);
    }

    .wrapper:nth-child(2) .app .nav .nav-content .background {
        transform-origin: center;
        transform: rotate(-45deg) scale(2, 1.2);
    }

    .wrapper:nth-child(2) .app .nav .nav-content .background .portion {
        flex: 1 1 100%;
    }

    .wrapper:nth-child(2) .app .nav .nav-content .background .portion:nth-child(odd) {
        transform: translateX(-100%);
    }

    .wrapper:nth-child(2) .app .nav .nav-content .background .portion:nth-child(even) {
        transform: translateX(100%);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-btn .btn-bar:nth-child(1) {
        transform: rotate(-45deg) translateX(-400%);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-btn .btn-bar:nth-child(2) {
        transform: rotate(-45deg) translate(0, -4px) translateX(200%);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-btn .btn-bar:nth-child(3) {
        transform: rotate(-45deg) translate(0, 1px) translateX(200%);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-btn .btn-bar.close:not(:last-child) {
        transform: rotate(45deg);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-btn .btn-bar.close:last-child {
        transform: rotate(-45deg);
    }

    .wrapper:nth-child(2) .app .nav.open .nav-content {
        z-index: 1;
    }

    .wrapper:nth-child(2) .app .nav.open .nav-content .background .portion {
        transform: translateX(0%);
    }

    .wrapper:nth-child(2) .app .nav.open .btn-bar.menu {
        transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out 0.15s;
    }

    .wrapper:nth-child(2) .app .nav.open .btn-bar.close {
        transition: transform 0.5s ease-in-out 0.3s, opacity 0.125s ease-in-out 0.3s;
    }

    .wrapper:nth-child(2) .app .nav.open .nav-content {
        transition: z-index 0.01s ease-in-out 0.3s;
    }

    .wrapper:nth-child(2) .app .nav.open .nav-content .background .portion {
        transition: transform 0.5s ease-in-out 0.3s;
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.menu {
        transition: transform 0.3s ease-in-out 0.5s, opacity 0.15s ease-in-out 0.5s;
    }

    .wrapper:nth-child(2) .app .nav .btn-bar.close {
        transition: transform 0.5s ease-in-out, opacity 0.125s ease-in-out 0.5s;
    }

    .wrapper:nth-child(2) .app .nav .nav-content {
        transition: z-index 0.01s ease-in-out 0.5s;
    }

    .wrapper:nth-child(2) .app .nav .nav-content .background .portion {
        transition: transform 0.5s ease-in-out;
    }
}

@media only screen and (max-width: 426px) {
    .mobile-nav {
        display: block;
    }

    .labtop-nav {
        display: none;
    }
}