/* Pop up style */

.tms-pop-up {
    display: none;

    .pop-up-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10000;
        background-color: rgba(0, 0, 0, 0.4);

    }

    .pop-up-card {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10001;
        margin: 30px 100px;
        width: calc(100% - 200px);
        height: calc(100% - 60px);
        background-color: var(--body-color);
        border-radius: 5px;
        padding: 20px 10px 20px 10px;
        box-shadow: var(--first-shadow);
        /* overflow-y: scroll; */
    }

    .pop-up-card-2 {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10001;
        width: 50%;
        height: 80%;
        background-color: var(--body-color);
        border-radius: 5px;
        padding: 20px 10px 20px 10px;
        box-shadow: var(--first-shadow);
    }

    .pop-up-card-content {
        height: -webkit-fill-available;
        overflow-y: scroll;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .pop-up-card-content::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .pop-up-card-content {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .heading {
        font-size: 1.3rem !important;
        display: flex;
        gap: 10px;
        align-items: center;
    }

}